/* ============================================================

        DEFAULT VALUES:  

        FONT FAMILY         :ROBOTO



===============================================================*/
/* variables */
:root {
  --temp: #F8B865;
  --primary: #22B6AF;
  --secondary: #6BAA2A;
  --blue: #3F87DB;
  --green: #038C0C;
  --brown: #2e4104;
  --white: #FEFEFE;
  --clearWhit: #fff;
  --black: #012030;
  --headerTxtSpacing: 1em; 
  --gapSm: .5em;
  --gap: 1em;
  --gapLg: 2em;
  --txtContainerWidth: 450px;
}
/* ============================================================
                            General css
===============================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  position: relative;
  background-color: var(--white);
  /* font-family: 'Roboto Condensed', sans-serif; */
}
h1 {
  text-transform: uppercase;
  color: var(--black);
}
p {
  color: var(--black);
  font-size: 1em;
  font-weight: 300;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* gaps */
/* heading styles */
.header-subtitle{
  font-size: 1em;
  text-align: center;
}
.content-title h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
.small-headers{
  font-size: 20px;
  font-weight: 700;
}
/* general content box style */
.content-box {
  padding: 60px 0;
}
.title-underline{
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  margin: var(--gapSm) auto var(--gapLg);
}
/* General parallax styles */
.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* General btn styles */
.btn-general {
  display: inline-block;
  line-height: 45px;
  padding: 0 25px;
  border-width: 2px;
  border-radius: 2px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-blue{
  background-color: var(--primary);
  color: var(--clearWhit);

}
.btn-blue:hover{
 color: var(--clearWhit);
}
.btn-white{
  background-color: transparent;
  color: var(--clearWhite);
  border: 1px solid var(--clearWhite);
}
.btn-white:hover{

}
/* general icons style */
.social-icons i {
  font-size: 1em;
}
.social-icons i:hover{
  color: var(--secondary);
}
/* general address style */
.address {
  font-size: 1em;
}
.address-txt {
  font-size: 1em;
}
/* ============================================================
                            Web Heading
===============================================================*/
#web-heading {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.5em 0;
}
#web-heading-address {
  display: flex;
  gap: 2em;
}
#web-heading-address i{
  color: var(--clearWhit);
}
#web-heading .social-icons{
  height: 100%;
  align-items: center;
}
#web-heading .social-icons i{
  color: var(--clearWhit);
}
#web-heading .social-icons i:hover{
  cursor: pointer;
}
/* ============================================================
                            Nav Bar
===============================================================*/
#logo {
  display: inline-block;
  height: 80px;
}
#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav {
  background-color: var(--white);
}
#ummi-menu{
  padding-right: 4em;
}
.navbar {
  transition: all 0.5s ease-in-out;
  padding: 0;
}
.nav-link {
  color: var(--black);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.nav-link:hover {
  cursor: pointer;
  color: #2e4104;
}
.navbar-toggler {
  background: rgb(0, 0, 0);
  border: 1px solid #fff;
  border-radius: 0;
}
.navbar-toggler-icon {
  background-color: rgb(255, 255, 255);
}
.nav-divider{
  height: 25px;
  width: 2px;
  background-color: #012030;
}
/* ============================================================
                            home section
===============================================================*/
#home{
  height: 85%;
}
#home-cover{
  height: 100%;
  background-image: url('/img/home-cover.jpg');
}
#home-cover .container, .row{
  height: 100%;
}
#home-cover .row{
  align-items: center;
}
#welcome-txt{
  /* padding-top: 5em; */
  display: flex;
  flex-direction: column;
  color: var(--clearWhit);
  gap: var(--headerTxtSpacing);
}
#home-heading-container .header-subtitle{
  text-align: left;
}
#home-welcome-paragraph{
  width: var(--txtContainerWidth);
}
#home-heading{
  color: var(--clearWhit);
  font-size: 55px;
}
#home-welcome-paragraph .text{
  color: var(--clearWhit);
}
#home-buttons {
  display: flex;
  gap: 10px;
}
#home-buttons .btn-blue{
  background-color: var(--primary);
  color: var(--clearWhit);
  border: 1px solid var(--primary);
}
#home-buttons .btn-blue:hover{
  background-color: transparent;
  color: var(--clearWhite);
  border: 1px solid var(--clearWhit);
}
#home-buttons .btn-white{
  background-color: transparent;
  color: var(--clearWhite);
  border: 1px solid var(--clearWhit);
}
#home-buttons .btn-white:hover{
  background-color: var(--primary);
  color: var(--clearWhit);
  border: 1px solid var(--primary);
}
/* ============================================================
                            join us section
===============================================================*/
.join-us-box{
  padding: 60px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gapSm);
    box-shadow: 0px 5px 24px 6px rgb(0 0 0 / 6%);
    border-bottom: 3px solid var(--primary);
    position: relative;
}
.join-us-box .small-headers{
  text-align: center;
}
.join-us-box p.text{
  text-align: center;
}
.join-us-box .title-underline{
  margin-bottom: var(--gap);
}
.join-us-arrow{
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clearWhit);
  box-shadow: 0px 5px 24px 6px rgb(0 0 0 / 6%);
  cursor: pointer;
}
.join-us-arrow a{
  color: var(--black);
}
.join-us-arrow i{
  font-size: 2em;
  color: var(--black); 
}
.join-us-img{
  width: 64px;
  padding-bottom: var(--gap);
}
/* ============================================================
                            what we do section
===============================================================*/
#what-we-do .content-box{
  padding-bottom: 0;
}
#what-can-we-do-btn .btn-blue:hover{
  border-color: var(--primary);
  background-color: var(--clearWhit);
  color: var(--primary);
}
#what-we-do-cover{
  height: 700px;
}
#what-can-we-do-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-top: 5em;
  padding-left: var(--gapLg);
}
#what-can-we-do-desc{
  width: var(--txtContainerWidth);
}
#what-can-we-do-desc p{
  text-align: justify;
}
#what-can-we-do-content .content-title h2{
  text-align: left;
  margin-bottom: var(--gapSm);
}
#what-can-we-do-content .title-underline{
  margin: 0;
}
#what-can-we-do-content .content-title .header-subtitle{
  text-align: left;
}
/* ============================================================
                            recent causes section
===============================================================*/
.recent-box, .recent-img-btn, .recent-img{
  height: 100%;
}
.recent-img-btn{
  position: relative;
}
.recent-button{
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  display: none;
}
.recent-button .btn-blue:hover{
  background-color: var(--primary);
  color: var(--clearWhit);
}
.recent-img-btn:hover  .recent-button{
  display: inline;
}
.recent-img img{
  height: 100%;
  opacity: .9;
}
.recent-img-btn:hover .recent-img img{
  opacity: 1;
}
/* ============================================================
                            Events Section
===============================================================*/
#event-img-container{
  height: 100%;
}
#event-img-container img{
  height: 100%;
}
.splide-element{
  display: flex;
  gap: var(--gapLg);
  padding: 2em;
}
.splide-img-box{
  width: 280px;
  height: 210px;
}
.splide-arrow{
  color: var(--primary);
}
/* ============================================================
                            team Section
===============================================================*/
.team-img-container{
  height: 100%;
}
.team-img-info-container{
  position: relative;
  display: flex;
  justify-content: center;
}
.team-info{
  position: absolute;
  width: fit-content;
  bottom: var(--gapLg);
  margin: 0 auto var(--gap);
  display: none;
}
.team-info .header-subtitle, .team-member{
  color: var(--clearWhit);
  text-shadow: 6px 6px 7px rgb(27, 27, 27);
}
.team-img-info-container:hover .team-info{
  display: block;
}
/* ============================================================
                            read-give Section
===============================================================*/
#read-give .content-box{
  padding-bottom: 0;
}
#read-give-bg{
  background-image: url('../img/read-give/bg-2.jpg');
  height: 450px;
}
.transparent-bg{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
#read-give-content{
  color: var(--clearWhit);
  padding: var(--gapLg);
  text-align: justify;

}
#read-give-content .content-title > *{
  text-align: left;
}
#read-give-content .content-title h2{
  font-size: 45px;
  margin-bottom: .1em;
}
#read-give-content .content-title .title-underline{
  margin-left: 0;
}
#read-give-desc {
  margin-bottom: var(--gapLg);
  margin-top: var(--gapSm);
}
#read-give-desc p{
  color: var(--clearWhit);
}
#read-give-buttons .btn-blue{
  background-color: var(--primary);
  color: var(--clearWhit);
  border: 1px solid var(--primary);
  margin-right: var(--gapLg);
}
#read-give-buttons .btn-blue:hover{
  background-color: transparent;
  color: var(--clearWhite);
  border: 1px solid var(--clearWhit);
}
#read-give-buttons .btn-white{
  background-color: transparent;
  color: var(--clearWhite);
  border: 1px solid var(--clearWhit);
}
#read-give-buttons .btn-white:hover{
  background-color: var(--primary);
  color: var(--clearWhit);
  border: 1px solid var(--primary);
}
/* ============================================================
                            Meet Our Volunteers Section
===============================================================*/
.Volunteer-img {
  width: 100px;
  height: 100px;
  margin: var(--gapSm);
  border: 1px solid black;
}
#our-Volunteers-bg{
  background-image: url('../img/volunteer/hero_bg-side.svg');
  padding: var(--gapLg);
}
#our-Volunteers-bg .content-title h2{
  margin-bottom: var(--gapSm);
  margin-top: var(--gap);
}
.volunteer-container{
  padding-top: var(--gapLg);
}
#volunteer-content .content-title h2{
  text-align: left;
  margin-bottom: 5px;
}
#volunteer-desc{
  padding-top: var(--gap);
  width: 450px;
}
#volunteer-header-subtitle p{
  font-weight: 500;
  font-size: 18px;
}
#volunteer-qualities{
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}
.volunteer-quality{
  display: flex;
  gap: var(--gap);
}
#volunteer-img-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volunteer-img-row{
  width: fit-content;
}
#volunteer-img-container .volunteer-img{
  margin: var(--gap);
}
#volunteer-img-container .volunteer-img img{
  width: 200px ;

}
#volunteer-button .btn-blue{
  background-color: var(--primary);
  color: var(--clearWhit);
  border: 1px solid var(--primary);
}
#volunteer-button .btn-blue:hover{
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}
/* ============================================================
                            Our Mission Section
===============================================================*/
#our-mission .content-title{
  margin-bottom: var(--gapLg);
}
#our-mission .content-title h2{
  margin-bottom: var(--gapSm);
}
#our-mission svg {
  color: var(--primary);
}
#our-mission i {
  color: var(--primary);
}
.our-mission-icon{
  padding-top: var(--gap);
}
.our-mission-content{
  display: flex;
  gap: var(--gapLg);
  margin: var(--gap);
  padding: var(--gapLg);
}
.our-mission-desc{
  width: 280px;
  font-size: 15px;
  text-align: justify;
}
.our-mission-button .btn-white{
  color: var(--primary);
  border: 1px solid var(--primary);
}
.our-mission-button .btn-white:hover{
  background-color: var(--primary);
  color: var(--clearWhit);
}
/* ============================================================
                            Clients Section
===============================================================*/
.center-the-client{
  justify-content: center;
}
.client {
  padding: 40px 0;
  margin: var(--gapLg);
}
/* ============================================================
                            Footer Section
===============================================================*/
#footer{
  box-shadow: 0px 5px 24px 6px rgb(0 0 0 / 6%);
}
#footer .content-box{
  padding-bottom: 0;
}
#footer ul{
  padding: 0;
}
.footer-content-title{
  margin-bottom: var(--gap);
}
.footer-content-padding{
  padding-left: var(--gapLg);
}
#footer-company-name h1{
  font-weight: 700;
}
#footer-company-name h1:hover{
  color: var(--primary);
}
#footer-name-logo{
  text-decoration: none;
  display: flex;
  gap: var(--gap);
  align-items: center;
  margin-bottom: var(--gap);
}
#footer-logo {
  width: 80px;
}
#footer-company-desc p{
  text-align: justify;

}
#footer-icons{
  margin-top: var(--gapLg);
}
#footer-icons svg{
  font-size: 1.5em;
}
#footer-icons svg:hover{
  color: var(--primary);
  cursor: pointer;
}
#footer-icons i{
  font-size: 1.5em;
}
#footer-icons i:hover{
  color: var(--primary);
  cursor: pointer;
}
#useful-links-list{
}
#useful-links-list ul{
  list-style: none;
}
#useful-links-list li a{
  color: var(--black);
  text-decoration: none;
}
#useful-links-list li a:hover{
  color: var(--primary);
}
#useful-links-list li{
  margin-bottom: var(--gapSm);
}
#footer-address{
  background-image: url('../img/world-map.png');
}
#footer-imgs{
  display: flex;
}
.footer-img{
  width: 145px;
  height: 110px;
}
.footer-img img{
  height: 100%;
}
.footer-img-row{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-right: var(--gap);
}
#footer-copyright{
  margin-top: 1em;
  border-top: 1px solid var(--black);
  background-color: var(--black);
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
}
#footer-copyright-text p{
  color: #fff;
  margin-bottom: 0;
}
/* ============================================================
                            Pages Common styles
===============================================================*/
#page-header{
    background-color: var(--black);
    color: #fff;
  box-shadow: 0px 5px 24px 6px rgb(0 0 0 / 6%);
}
#page-header h1{
  color: #fff;
}
#page-header p{
  color: #fff;
}
.center-page-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gapSm);
}